@import url(//fonts.googleapis.com/css?family=Muli);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Brawler:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

body {
    margin:0;
    padding:0;
    font-family: Roboto, sans-serif;
    background-color: var(--main-page-color);
}

.page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* :root {
    --main-search-color: #007bff;
    --main-bg-color: #5680E9;
    --main-page-color: #e3e8e6;
    --main-text-color: #000000;
    --main-block-hover: #C0C0C0;
    --main-block-color: #FDE7DA;
    --main-other-bg: #4f0070;
    --main-other-bg-copy: #7851a9;
    --main-color-for: #C1C8E4;
    --main-color: #e7e8e6;

    --main-bg-button: #007bff;
    --main-bg-hover: #0056b3;
} */

:root, :root[data-theme="light"] {
    --main-search-color: #b07d2b;
    --main-search-color-hover: #ff9900;
    --main-bg-color: #e7e8e6;
    --main-page-color: #e3e8e6;
    --main-text-color: #000000;
    --main-block-hover: #C0C0C0;
    --main-block-color: #FDE7DA;
    --main-other-bg: #35bba3;
    --main-other-bg-copy: #7851a9;
    --main-color-for: #ff0033;
    --main-color: #e7e8e6;

    --main-bg-button: #35bba3;
    --main-bg-hover: #0056b3;
    --main-bg-butopn: #000000;
    --main-font-family: "Merriweather", serif;
}

:root[data-theme="dark"] {
    --main-search-color: #d4a346;
    --main-search-color-hover: #ffb732;
    --main-bg-color: #2d2d2d;
    --main-page-color: #1e1e1e;
    --main-text-color: #ffffff;
    --main-block-hover: #4d4d4d;
    --main-block-color: #3a3a3a;
    --main-other-bg: #1a7a6d;
    --main-other-bg-copy: #5d3d99;
    --main-color-for: #ff3355;
    --main-color: #2d2d2d;
    --main-bg-button: #1a7a6d;
    --main-bg-hover: #003d75;
    --main-bg-butopn: #333333;
    --main-font-family: "Merriweather", serif;
  }

/* :root {
    --main-search-color: #AE020B;
    --main-page-color: #e3e8e6;
    --main-text-color: #000000;
    --main-block-hover: #C0C0C0;
    --main-block-color: #FDE7DA;
    --main-other-bg: #4f0070;
    --main-other-bg-copy: #7851a9;
    --main-color-for: #C1C8E4;
    --main-color: #e7e8e6;
    --main-color-footer: #7C0322;
    --main-color-header: #64042C;


    --main-bg-button: #290454;
    --main-bg-hover: #0056b3;
} */

p {
    line-height: 1.8;
    color: var(--main-text-color);
    font-family: var(--main-font-family);
}

a {
    color: var(--main-text-color);
    text-decoration: none;
    font-family: var(--main-font-family);
}

a:hover {
    color: var(--main-other-bg-copy);
}

h1, h2, h3, h4, h5 , h6 { 
    font-family: var(--main-font-family);
    font-weight: 400; 
    color: var(--main-text-color);
}

h1 {
    display: flex;
    justify-content: center;
    padding: 0 0 10px 0;
}

h2 {
    margin:30px 0 20px;
    display: flex;
    justify-content: center;
}

ol {
    line-height:1.5;
}

table {
    max-width: 1800px;
    background-color: var(--main-color);
    border-color: var(--main-other-bg);
    color: var(--main-text-color);
    font-family: var(--main-font-family);
}

#header {
    line-height: normal;
    padding: 25px 100px;
    font-size:14px;
    background: var(--main-bg-color);
    color:#fff;
    border-bottom:4px solid var(--main-bg-butopn);
    overflow:auto;
}

#header .logo {
    font-family: var(--main-font-family);
    font-weight: 700;
    float: left;
    color: var(--main-block-color);
    font-size: 25px;
    margin-right: 12%;
}

.logo_text{
    font-size: 18px;
}

#header ul.menu {
    list-style:none;
    float:left;
    margin:0;
    padding:0;
}

#header ul.menu li {
    float:left;
    padding: 23px 10px;

}

#header ul.menu li.selected a, #header ul.menu li.selected a:hover {
    color: var(--main-text-color);
    font-weight:bold;
}

#header a {
    color: var(--main-text-color);
}

#header a:hover {
    color: var(--main-color-for);
}

#header .user {
    width: 200px;
    height: 10px;
    float: right;
    padding: 7px 10px;
    display: flex;
    line-height: 52px;
    gap: 10px;
}

#content {
    flex: 1;
    padding:30px 100px;
}

.header_content{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

/* forms */
form {
    overflow:auto;
}

form p {
    max-width: 600px;
    overflow:auto;
}

label {
    clear:both;
    color: var(--main-text-color);
    margin-bottom:4px;
}

#id_first_name,
#id_last_name,
#id_email {
    /* width: 100%; */
    border: 1px solid red;
    position: relative;

}

.info_first_name {
    position: absolute;
    width: 200px;
    top: 285px;
    left: 335px;
    color: red;
}

.info_last_name {
    position: absolute;
    width: 200px;
    top: 342px;
    left: 375px;
    color: red;
}

.email {
    position: absolute;
    width: 200px;
    top: 398px;
    left: 515px;
    color: red;
}


input, textarea {
    clear:both;
    margin:0 0 10px;
    background:#FFFFFF;
    border:0;
    padding:6px 10px;
    font-size:14px;
    box-shadow: 
    0 1px 2px rgba(0, 0, 0, 0.1),
    0 4px 8px rgba(0, 0, 0, 0.1),
    0 8px 16px rgba(0, 0, 0, 0.1);
}

input[type=submit], a.button {
    font-weight:bold;
    /* background:var(--main-bg-button); */
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase;
    cursor: pointer;
}

a.button:hover {
    background-color: var(--main-bg-hover);
}

.chat-button:hover {
    background-color: var(--main-bg-hover);
}

.button {
    font-weight: bold;
    background: var(--main-bg-button);
    color:#fff;
    padding: 10px 20px;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 50px;
    border: none;
    cursor: pointer;
}

input[type=search] {
    width: 250px;
    height: 40px;
    background-color: var(--main-color);
    border-radius: 5px;
    border: 1px solid;
}

.input_text {
    width: 250px;
    height: 20px;
    background-color: var(--main-color);
    border-radius: 5px;
    border: 1px solid;
}


.function-button {
    display: inline-block;
    background: var(--main-search-color);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    margin: 5px;
}

.function-button:hover {
    background: var(--main-search-color-hover);
}

.block_search{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-button {
    width: 100px;
    height: 35px;
    padding: 5px 15px;
    background: var(--main-bg-button);
    border: none;
    border-radius: 5px;
    padding-bottom: 3px;
    cursor: pointer;
}

.platform_name{
    display: flex;
    justify-content: center;
}

a.chat-button:hover {
    background-color: #0056b3;
}


input.search-button {
    font-weight:bold;
    background: var(--main-bg-button);
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase;
}

.search-button:hover {
    background-color: var(--main-bg-hover);
}
.errorlist {
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px;
}
.helptext {
    margin:0 0 20px 0;
    color:#aaa;
    clear:both;
    float:left;
    font-size:13px;
}
.bb{
    border-bottom:1px solid #bbb;
    padding:0 0 10px 0;
    margin:10px 0 20px 0;
}
/* messages */
ul.messages {
    margin:10px 100px;
    padding:0;
    list-style-type:
    none;
}
ul.messages li.success,
ul.messages li.warning,
ul.messages li.error,
ul.messages li.info {
    margin:0;
    padding:14px 20px;
    list-style:none;
    color:#fff;
}

ul.messages li.success { background:#81ce81; }
ul.messages li.success a { color:#0ac33e; }

ul.messages li.error { background:#a30029; color:#e9828e; }
ul.messages li.error a { color:#e9828e; }

ul.messages li.info { background:#faffae; color:#696b4e; }
ul.messages li.info a { color:#1586de; }

ul.messages li.warning { background:#de9404; }
ul.messages li.warning a { color:#f49000; }

ul.messages li a.close {
    margin:0;
    float:right;
    opacity:1;
    border:0;
    box-shadow:none;
    text-shadow:none;
}

/* images */

.image-preview, .image-detail {
    max-width:300px;
    float:left;
    margin:0 20px 20px 0;
}
.image-detail { margin-top:20px; }
.image-info div {
    padding:20px 0;
    overflow:auto;
}
.count {
    color:#aaa;
    border:3px solid #bbb;
    border-radius:26px;
    padding:10px 20px;
    margin:20px 10px 0;
}
a.like, a.follow { float:right; margin-top:-8px; }

#image-list { overflow:hidden; }
#image-list .image {
    float:left;
    width:220px;
    height:300px;
    margin:0 10px 10px 10px;
    border-top:8px solid #12c064;
    background:#eee;
}
#image-list img { width:220px; height:220px; }
#image-list .info { padding:10px; }
#image-list .info a { color:#333; }
.image-likes div {
    float:left;
    width:auto;
    padding:10px;
    text-align:center;
}
.image-likes img {
    width:120px;
    height:120px;
    border-radius:50%;
}

/* users */
#people-list img {
    width:180px;
    height:180px;
    border-radius:50%;
    margin-bottom:20px;
}
#people-list .user {
    width:180px;
    float:left;
    overflow:auto;
    padding:10px;
}
#people-list .info { text-align:center; }
img.user-detail {
    border-radius:50%;
    float:left;
}
.profile-info {
    float:left;
    overflow:auto;
    margin-right:20px;
}
.image-container { margin-top:40px; }

/* actions */
.action {
    clear:both;
    overflow:auto;
}
.action .images {
    float:left;
    margin:0 10px 10px 0;
}
.action .date {
    font-style:italic;
    color:#ccc;
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90px;
    padding: 20px 100px 20px 100px;
    font-size: 14px;
    background: var(--main-bg-color);
    color:#fff;
    border-top:4px solid var(--main-bg-butopn);
    overflow: auto;
}

.footer_list{
    margin-right: 350px;
}

.footer_list>li{
    list-style-type: none;
}

.footer_list>li>a{
    font-size: 15px;
    color: var(--main-text-color);
}

.footer_logo{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.footer_logo>span>a{
    color: var(--main-text-color); 
    font-size: 18px;
}


/* Для кнопки чата */

.order-table-wrapper {
    position: relative;
    display: flex;
}

.order-table {
    width: 100%;
    border-collapse: collapse;
}

.order-table th, 
.order-table td {
    padding: 10px;
    text-align: center;
}

.no-center {
    margin: 0 auto;
    width: 100%;
}

.no-center th, td{
    padding: 10px 10px 10px 30px;
}

.chat-button {
    display: inline-block;
    background-color: var(--main-bg-button);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    margin: 5px;
}

/* ВСЕ ДЛЯ ЧАТА */


.topic_name {
    display: flex;
    justify-content: center;
    margin-top: -10px;
}
/* Контейнер чата */
.chat-container {
    display: flex;
    flex-direction: column;
    height: 724px;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
}

/* Контейнер сообщений */
#messages-container {
    height: 100%;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: inset 0 0 5px rgba(177, 141, 141, 0.1);
    padding: 0;
    max-height: calc(100vh - 180px);
}

.message {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

.message-header {
    font-weight: bold;
}

.message-text {
    margin-top: 10px;
    font-size: 1rem;
    line-height: 1.5;
}

.file-list {
    display: flex;
    flex-direction: column; /* Файлы располагаются в столбик */
    gap: 10px; /* Отступ между файлами */
    margin-top: 10px;
}

.file-download-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 0.9rem;
    text-align: center;
    background-color: var(--main-bg-button);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    width: fit-content;
}

/* Формы */
.message-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

/* Поле ввода сообщений */
.message-input {
    height: 150px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
    margin-bottom: 10px;
}

/* Контейнер для загрузки файлов и кнопки */
.file-upload-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

/* Кнопка отправки */
.submit-btn {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: var(--main-bg-button);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: var(--main-bg-hover);
}

/* Кнопка загрузки файлов */
.file-input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: auto;
    cursor: pointer;
}

select#technical_process {
    appearance: none; /* Убирает стандартный стиль браузера */ 
    width: 200px;
    max-width: 200px;
    padding: 10px 10px;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease;
}

.center{
    width: 10px;
    height: 27px;
    margin: 0px 0px 0px 40%;
    padding: 5px 15px 5px 15px;
    background-color: green;
    border-radius: 50%;
}

.center.unread {
    background-color: yellow;
    color: black;
}

.new-messages-th{
    width: 250px;
    text-align: center;
}

form #id_special_note {
    display: block;
    margin-bottom: 5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', 
    Geneva, Verdana, sans-serif;
}

.help-icon {
    margin-left: 10px;
}

.table-center{
    display: flex;
    justify-content: center;
}

.table-column-all {
    display: flex;
    flex-direction: column;
}

.order-table-file {
}

.file-table{
    margin-left: 50px;
    margin-top: 50px;
}

.file-table tr td a{
    margin: 0 auto;
}


.users-container {
    display: flex;
    flex-direction: column; /* Все блоки идут друг под другом */
    gap: 20px;
    width: 100%;
    max-width: 100%;
    padding: 20px;
}

/* Блок пользователя (на всю ширину) */
.user-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 400px;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    width: 100%; /* Растягиваем на всю ширину */
    box-sizing: border-box;
}

/* Заголовок имени пользователя */
.user-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

/* Первый ряд (3 таблицы в строку) */
.table-container.first-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

/* Второй ряд (1 таблица на всю ширину) */
.table-container.second-row {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

/* Общие стили таблиц */
.file-table {
    flex: 1 1 300px; /* Минимальная ширина таблицы */
    max-width: 200px;
    border-collapse: collapse;
    text-align: center;
    background: white;
    color: black;
}

.file-table th, .file-table td {
    border: 1px solid #000;
    padding: 8px;
}

.file-table th {
    background-color: #ddd;
}


.wide-table {
    width: 100%;
    max-width: 100%;

}

.form-field {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-field label {
    margin-bottom: 0;
    min-width: 80px;
}

.password-toggle {
    position: relative;
    flex-grow: 1;
}

.new_message {
    color: red; 
    margin-right: 8px;
}

.unread-icon {
    margin-left: 3px;
    color: #ff5722;
    font-size: 15px;
    line-height: 1;
}


/* Для переключения стилей */
.theme-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: var(--main-bg-button);
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition: all 0.3s ease;
  }
  
  .theme-toggle:hover {
    background: var(--main-bg-hover);
    transform: scale(1.1);
  }
  
  .dark-icon {
    display: none;
  }
  
  [data-theme="dark"] .light-icon {
    display: none;
  }
  
  [data-theme="dark"] .dark-icon {
    display: block;
  }

.center-block {
    display: block;
    margin: 0 auto;
}

.caps{
    margin-left: 0.5%;
    text-transform: uppercase;
}

.fins{
    color: var(--main-other-bg-copy);
}