{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
<div id="header">
    <span class="logo">
        <a href="{% url "dashboard" %}">Платформа</a>
    </span>
    {% if request.user.is_authenticated %}
        <ul class="menu">
            {% block tabs %}
            <li {% if section == "dashboard" %}class="selected"{% endif %}>
                <a href="{% url "dashboard" %}">Заказы</a>
            </li>
            <li {% if section == "technical_materials" %}class="selected"{% endif %}>
                <a href="{% url "technical_materials" %}">Технические материалы</a>
            </li>
            <li {% if section == "feedback" %}class="selected"{% endif %}>
                <a href="#">Обратная связь</a>
            </li>
            {% endblock %}
        </ul>
    {% endif %}
    <span class="user">
      {% if request.user.is_authenticated %}
          Привет, {{ request.user.first_name|default:request.user.username }}!
          <a href="{% url "logout" %}">Выйти</a>
      {% else %}
          <a href="{% url "login" %}">Войти</a>
      {% endif %}
    </span>
</div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
<div id="footer">
    <span>footer</span>
</div>
</body>
</html>
