{% extends "base.html" %}
{% load custom_filters %}

{% block content %}
<div class="users-container">
    <div class="user-block">
        <div class="card-body">
            <table border="1" class="file-table-document">
                 <thead class="file-table-head">
                    <tr>
                        <th>Компания заказчика</th>
                    </tr>
                </thead>
                <tbody class="file-table-body">
                    {% if all_company_names %}
                        {% for company_name in all_company_names %}
                        <tr>
                            <td>
                                <a href="{% url 'company_documents' company_name=company_name %}" 
                                   class="btn btn-sm btn-primary">
                                   {{ company_name }}
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td>
                                <span class="text-muted">Нет зарегистрированных компаний</span>
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
