{% extends 'base.html' %}

{% block content %}
    <h1>Проверка GDS файла</h1>
    <p>Подробная информация о заказе:</p>
        <div class="order-table-wrapper">
            <table border="1">
                <thead>
                    <tr>
                        <th>Поле</th>
                        <th>Значение</th>
                    </tr>
                </thead>
                <tbody>
                    {% for field, value in order_items %}
                        <tr>
                            <td><strong>{{ field }}</strong></td>
                            <td>
                                {% if value %}
                                    {% if value|length > 20 and value|slice:":6" == "/media" %}
                                        <a href="{{ value }}" download target="_blank">Скачать</a>
                                    {% else %}
                                        {{ value }}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    <form method="post" enctype="multipart/form-data" id="orderForm" data-url="{% url 'load_data' %}">
        {% csrf_token %}
        <p>
            <input class="chat-button" type="submit" name="success_gds" value="Сохранить изменения">
            <input class="chat-button" type="submit" name="cancel_gds" value="Отправить на доработку">
        <p>
    </form>
{% endblock %}