{% extends "base.html" %}

{% block title %}Успех{% endblock %}

{% block content %}
    <h1>Подтверждение подписания договора</h1>

    {% if action == "success" %}
        <p>Подписание договора подтверждено</p>
    {% elif action == "cancelled" %}
        <p>Подписание договора не подтверждено</p>
    {% elif action == "no_file "%}
        <p>Вы не прикрепили файл. Попробуйте еще раз</p>
    {% else %}
        <p>Произошла неизвестная ошибка. Пожалуйста, попробуйте снова.</p>
    {% endif %}

    <p><a href="{% url 'dashboard' %}">Вернуться к заказу</a></p>
{% endblock %}