{% extends "base.html" %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}

    <h1>Личный кабинет заказчика</h1>
    <p>
        Это ваш личный кабинет. Здесь вы можете
        <a href="{% url "edit" %}">отредактировать</a>
        ваш профиль, <a href="{% url "password_change" %}">поменять</a>
        ваш пароль.
    </p>
    <p>
        Заглушка для других инструментов.<br>

    </p>

  <table  border="1" width="600">
    <tr>

      <th scope="col">Код площадки</th>
      <th scope="col">Тип заказа</th>
      <th scope="col">Дата заказа(оплаты)</th>
      <th scope="col">Срок выполнения по договору</th>
      <th scope="col">Статус оплаты</th>
      <th scope="col">Статус заказа</th>
    </tr>
      {% for line in data %}
          <tr>
        {% for column in line %}
            <th scope="col">{{column.value}}</th>

    {% endfor %}
          </tr>
    {% endfor %}

  </table>
{% endblock %}
