{% extends "base.html" %}

{% block title %}Личный кабинет исполнителя{% endblock %}

{% block content %}
    <h1>Личный кабинет исполнителя</h1>
    <h2>Компания: {{ data.company }}</h2>
    <div class="header_content">
    </div>
    <br>
    <h2>Заказы для компании: {{ data.name_platform }}</h2>
    <h3 class="platform_name">Код платформы: {{ data.code_company }}</h3>
    <div class="block_search">
        <form method="get" action="{% url 'generic_search_executor' %}">
            <input type="text" name="q" class="input_text" placeholder="Поиск по любым параметрам заказа" value="{{ request.GET.q }}">
            <button class="search-button" type="submit">Поиск</button>
        </form>
    </div>
    <div class="order-table-wrapper">
        <table border="1" class="order-table">
            <tr>
                <th scope="col">Номер заказа</th>
                <th scope="col">Статус заказа</th>
                <th scope="col">ID заказа</th>
                <th scope="col">Тип заказа</th>
                <th scope="col">Дата формирования заявки</th>
                <th scope="col">Срок выполнения по договору</th>
                <th scope="col">Дата оплаты</th>
                <th scope="col">Договор</th>
                <th scope="col">Счет</th>
            </tr>
            {% if not data.orders %}
            <tr>
                <td colspan="11" style="text-align: center;">Ничего не найдено.</td>
            </tr>
            {% else %}
                {% for order in data.orders %}
                    <tr>
                        <td>{{ order.order_number }}</td>
                        <td>{{ order.get_order_status_display }}</td>
                        <td>{{ order.id }}</td>
                        <td>{{ order.get_order_type_display }}</td>
                        <td>{{ order.order_date.date|date:"d.m.Y" }}</td>
                        <td>{{ order.deadline_date.date|date:"d.m.Y" }}</td>
                        <td>{{ order.order_date|default:"нет" }}</td>
                        <td>
                            {% if order.contract_file %}
                                <a href="{{ order.contract_file.url }}" download>скачать</a>
                            {% else %}
                                <span>отсутствует</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if order.invoice_file %}
                                <a href="{{ order.invoice_file.url }}" download>скачать</a>
                            {% else %}
                                <span>отсутствует</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if order.order_status == "OVC" %}
                                <a href="{% url 'order_view' order.id %}" class="button chat-button">Редактировать</a>
                            {% elif order.order_status == "ESA" %}
                                <a href="{% url 'check_signing_exec' order.id %}" class="button chat-button">Редактировать</a>
                            {% elif order.order_status == "EGDS" %}
                                <a href="{% url 'check_gds_file_exec' order.id %}" class="button chat-button">Редактировать</a>
                            {% elif order.order_status == "POC" %}
                                <a href="{% url 'view_is_paid_exec' order.id %}" class="button chat-button">Редактировать</a>
                            {% elif order.order_status == "MPO" %}
                                <a href="{% url 'plates_in_stock' order.id %}" class="button chat-button">Редактировать</a>
                            {% elif order.order_status == "SO" %}
                                <a href="{% url 'shipping_is_confirm' order.id %}" class="button chat-button">Редактировать</a>
                            {% endif %}
                            <a href="{% url 'create_or_open_chat' order.id %}" class="button chat-button">
                                Перейти в чат
                            </a>
                            <a href="{% url 'check_the_order' order.id %}" class="button chat-button">
                                Просмотр заказа
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}       
        </table>
    </div>
    <br>
{% endblock %}
