{% extends "base.html" %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}

    <h1>Личный кабинет заказчика</h1>
    <p>
        Это ваш личный кабинет. Здесь вы можете
        <a href="{% url "edit" %}">отредактировать</a>
        ваш профиль, <a href="{% url "password_change" %}">поменять</a>
        ваш пароль.
    </p>

    <table border="1" width="600">
        <tr>
            <th scope="col">Код площадки</th>
            <th scope="col">Тип заказа</th>
            <th scope="col">Дата заказа (оплаты)</th>
            <th scope="col">Срок выполнения по договору</th>
            <th scope="col">Статус оплаты</th>
            <th scope="col">Статус заказа</th>
        </tr>

        {% for order in data %}
            <tr>
                <td>{{ order.platform_code }}</td>
                <td>{{ order.order_type }}</td>
                <td>{{ order.order_date }}</td>
                <td>{{ order.deadline_date }}</td>
                <td>{{ order.payment_status }}</td>
                <td>{{ order.order_status }}</td>
            </tr>
        {% endfor %}
    
    </table>
{% endblock %}
