{% extends "base.html" %}

{% block title %}Редактировать заказ{% endblock %}

{% block content %}
    <h1>Редактировать заказ</h1>
    <p>Отредактируйте форму и прикрепите документы, если нужно</p>
    <form method="post" action="{% url 'edit_order' order.id %}" enctype="multipart/form-data" id="orderForm" data-url="{% url 'load_data' %}">
        <p>Номер заказа: {{ order_number }}</p>
        <p>Создатель: {{ creator_name }}</p>
        {% csrf_token %}
        <p class='bb'>Подробная информация о заказе:</p>
        <div class="order-table-wrapper">
            <table border="1">
                <thead>
                    <tr>
                        <th>Поле</th>
                        <th>Значение</th>
                    </tr>
                </thead>
                <tbody>
                    {% for field, value in order_items %}
                        <tr>
                            <td><strong>{{ field }}</strong></td>
                            <td>
                                {% if value %}
                                    {% if value|length > 20 and value|slice:":6" == "/media" %}
                                        <a href="{{ value }}" download target="_blank">Скачать</a>
                                    {% else %}
                                        {{ value }}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <p>
            <input type="submit" name="success" value="Подтвердить заказ">
            <input type="submit" name="cancelled" value="Вернуть заказ на доработку">
        <p>
    </form>
{% endblock %}
