{% extends "base.html" %}

{% block title %}Редактировать заказ{% endblock %}

{% block content %}
    <h1>Редактировать заказ</h1>
    <p>Отредактируйте форму и прикрепите документы, если нужно</p>
    <form method="post" action="{% url 'edit_order' order.id %}" enctype="multipart/form-data" id="orderForm" data-url="{% url 'load_data' %}">
        <p>Номер заказа: {{ order_number }}</p>
        <p>Создатель: {{ creator_name }}</p>
        {{ form.as_p }}
        {% csrf_token %}
        <p class='bb'>Подробная информация о заказе:</p>
        <div class="order-table-wrapper">
            <table border="1" class="order-table">
                {% for key, value in order.items %}
                    <tr>
                        <th>{{ key }}</th>
                        <td>{{ value }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <p>
            <input type="submit" name="success" value="Подтвердить заказ">
            <input type="submit" name="canselled" value="Вернуть заказ на доработку">
        <p>
    </form>
{% endblock %}
