{% extends "base.html" %}

{% block title %}Редактировать заказ{% endblock %}

{% block content %}
    <h1>Редактировать заказ</h1>
    <p>Отредактируйте форму и прикрепите документы, если нужно</p>
    <form method="post" enctype="multipart/form-data" id="orderForm" data-url="{% url 'load_data' %}">
        <p>Номер заказа: {{ order_number }}</p>
        <p>Создатель: {{ creator_name }}</p>
        {{ form.as_p }}
        {% csrf_token %}
        <p class='bb'>Подробная информация о заказе:</p>
        <div>
            <table border="1">
                <thead>
                    <tr>
                        <th>Order Number</th>
                        <th>Creator ID</th>
                        <th>Customer Product Name</th>
                        <th>Mask Name</th>
                        <th>Technical Process ID</th>
                        <th>Platform Code ID</th>
                        <th>Order Type</th>
                        <th>Product Count</th>
                        <th>Substrate ID</th>
                        <th>DC RF Probing E-Map</th>
                        <th>DC RF Probing Inking</th>
                        <th>Visual Inspection Inking</th>
                        <th>Dicing Method</th>
                        <th>Tape UV Support</th>
                        <th>Wafer Deliver Format</th>
                        <th>Multiplan Dicing Plan</th>
                        <th>Package Service</th>
                        <th>Delivery Premium Template</th>
                        <th>Delivery Premium Plate</th>
                        <th>Special Note</th>
                        <th>Order Status</th>
                        <th>Created At</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ order.order_number }}</td>
                        <td>{{ order.creator_id }}</td>
                        <td>{{ order.customer_product_name }}</td>
                        <td>{{ order.mask_name }}</td>
                        <td>{{ order.technical_process_id }}</td>
                        <td>{{ order.platform_code_id }}</td>
                        <td>{{ order.order_type }}</td>
                        <td>{{ order.product_count }}</td>
                        <td>{{ order.substrate_id }}</td>
                        <td>{{ order.dc_rf_probing_e_map }}</td>
                        <td>{{ order.dc_rf_probing_inking }}</td>
                        <td>{{ order.visual_inspection_inking }}</td>
                        <td>{{ order.dicing_method }}</td>
                        <td>{{ order.tape_uv_support }}</td>
                        <td>{{ order.wafer_deliver_format }}</td>
                        <td>{{ order.multiplan_dicing_plan }}</td>
                        <td>{{ order.package_servce }}</td>
                        <td>{{ order.delivery_premium_template }}</td>
                        <td>{{ order.delivery_premium_plate }}</td>
                        <td>{{ order.special_note }}</td>
                        <td>{{ order.order_status }}</td>
                        <td>{{ order.created_at }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p><input type="submit" value="Сохранить изменения"></p>
    </form>
{% endblock %}
