{% extends "base.html" %}

{% block sub_tabs %}
<div id="header">
    <ul class="menu">
        <li {% if sub_section == "general" %}class="selected"{% endif %}>
            <a href="{% url 'feedback' %}?tab=general">Общие вопросы</a>
        </li>
        <li {% if sub_section == "support" %}class="selected"{% endif %}>
            <a href="{% url 'feedback' %}?tab=support">Вопросы по заказам</a>
        </li>
    </ul>
</div>
{% endblock %}

{% block content %}
<h1>Обратная связь</h1>

{% if sub_section == "general" %}
    <h2>Общие вопросы</h2>
        <table border="1" class="no-center" style="width: 50%; border-collapse: collapse; text-align: left;">
            <thead>
                <tr>
                    <th>Тема</th>
                </tr>
            </thead>
            <tbody>
                {% for topic in general_topics %}
                    <tr>
                        <td><a href="{% url 'topic_detail' topic.id %}">{{ topic.name }}</a></td>
                    </tr>
                {% empty %}
                    <tr>
                        <td>Нет общих тем</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <form method="post" action="{% url 'create_general_topic' %}" style="margin-bottom: 20px;">
            {% csrf_token %}
            <button type="submit" class="button">Создать новую тему</button>
        </form>
    {% elif sub_section == "support" %}
        <h2>Вопросы по заказам</h2>
        <table border="1" style="width: 50%; border-collapse: collapse; text-align: left;">
            <thead>
                <tr>
                    <th>Тема</th>
                </tr>
            </thead>
            <tbody>
                {% for topic in private_topics %}
                    <tr>
                        <td><a href="{% url 'topic_detail' topic.id %}">{{ topic.name }}</a></td>
                    </tr>
                {% empty %}
                    <tr>
                        <td>Нет доступных частных чатов</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
{% endif %}
{% endblock %}
