{% extends "base.html" %}
{% load custom_filters %}

{% block sub_tabs %}
<div id="header">
    <ul class="menu">
        <li {% if sub_section == "general" %}class="selected"{% endif %}>
            <a href="{% url 'feedback' %}?tab=general">Инструкции и полезные материалы</a>
        </li>
        <li {% if sub_section == "support" %}class="selected"{% endif %}>
            <a href="{% url 'feedback' %}?tab=support">Вопросы по заказам</a>
        </li>
    </ul>
</div>
{% endblock %}

{% block content %}

{% if sub_section == "general" %}
    <h1>Инструкции и полезные материалы</h1>
    <table border="1" class="no-center" style="border-collapse: inherit; text-align: left;">
        <thead>
            <tr>
                <th>Документ</th>
        </thead>
        <tbody>
            {% for file in files %}
                <tr>
                    <td><a href="{{ file.file.url }}" download>{{ file.file.name|filename }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
{% elif sub_section == "support" %}
    <h1>Вопросы по заказам</h1>
    <table border="1" class="no-center" style="border-collapse: inherit; text-align: left;">
        <thead>
            <tr>
                <th>Номер заказа</th>
                {% comment %} <th class="new-messages-th">Новые сообщения</th> {% endcomment %}
                <th>Последнее сообщение</th>
            </tr>
        </thead>
        <tbody>
            {% for topic in private_topics %}
                <tr>
                    <td>
                        <a href="{% url 'topic_detail' topic.id %}">{{ topic.name }}</a>
                    </td>
                    {% comment %} <td class="new-messages-th">
                        <p class="center
                            {% if topic.unread_count > 0 %}unread{% endif %}">
                            {{ topic.unread_count }}
                        </p>
                    </td> {% endcomment %}
                    <td>
                        {% if topic.last_message_time %}
                            {{ topic.last_message_time|date:"d-m-Y H:i" }}
                        {% else %}
                            Нет сообщений
                        {% endif %}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">Нет доступных частных чатов</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}
