{% extends "base.html" %}

{% block title %}Вход в систему{% endblock %}

{% block content %}
    <h1>Вход в систему</h1>
    {% if form.errors %}
        <p>
            Неверные логин и/или пароль.
            Попробуйте снова.
        </p>
    {% else %}
        <p>
            Используйте форму для входа в систему.
            Если у вас нет профиля, вы можете
            <a href="{% url "registration" %}">зарегистрироваться</a>
        </p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            <p><input type="submit" value="Вход"></p>
        </form>
        <p>
            <a href="{% url "password_reset" %}">
                Забыли пароль?
            </a>
        </p>
    </div>
{% endblock %}
