{% extends "base.html" %}

{% block title %}Вход в систему{% endblock %}

{% block content %}
    <h1>Вход в систему</h1>
    {% if form.errors %}
        <p>
            Неверные логин и/или пароль.
            Попробуйте снова.
        </p>
    {% else %}
        <p>
            Используйте форму для входа в систему.
            Если у вас нет профиля, вы можете
            <a href="{% url "registration" %}">зарегистрироваться</a>
        </p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}

            <div class="form-field">
                <label for="id_username">Логин:</label>
                {{ form.username }}
            </div>
            
            <div class="form-field">
                <label for="id_password">Пароль:</label>
                <div class="password-toggle">
                    {{ form.password }}
                    <button type="button" class="toggle-password" aria-label="Показать пароль">
                        <span class="eye-icon"  style="filter: brightness(60%) saturate(10%)">👁️</span>
                    </button>
                </div>
            </div>

            <input type="hidden" name="next" value="{{ next }}"/>
            <p><input type="submit" class="chat-button" value="Вход"></p>
        </form>
        <p>
            <a href="{% url "password_reset" %}">
                Забыли пароль?
            </a>
        </p>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const togglePassword = document.querySelector('.toggle-password');
            const passwordField = document.querySelector('#id_password');
            togglePassword.addEventListener('click', function() {
                const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
                passwordField.setAttribute('type', type);
                this.querySelector('.eye-icon').textContent = type === 'password' ? '👁️' : '🔒';
            });
        });
        </script>
{% endblock %}
