{% extends "base.html" %}

{% block title %}Просмотр заказа{% endblock %}

{% block content %}
        <h1>Подробная информация о заказе:</h1>
        <p class='bb'>Заказчик: {{ creator_name }}</p>
        <div class="order-table-wrapper">
            <table border="1" class="order-table">
                {% for key, value in order.items %}
                    <tr>
                        <th>{{ key }}</th>
                        <td>{{ value }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <form method="post">
            {% csrf_token %}
            <p>
                <input type="submit" name="save_changes" value="Сохранить изменения">
                <input type="submit" name="cancel_changes" value="Отменить изменения">
            </p>
        </form>
{% endblock %}