{% extends 'base.html' %}

{% block content %}
    <h1>Подтверждение окончания производства заказа</h1>
    <h2>При подтверждении окончания производства, заказ перейдет в стадию отгрузки</h2>
    <div>
        <table border="1">
            <tr>
                <th scope="col">Номер заказа</th>
                <th scope="col">Код площадки</th>
                <th scope="col">Статус оплаты</th>
                <th scope="col">Статус заказа</th>
            </tr>
            <tr>
                <td>{{ order.order_number }}</td>
                <td>{{ order.platform_code.platform_code }}</td>
                <td>{{ order.is_paid }}</td>
                <td>{{ order.get_order_status_display }}</td>
            </tr>     
        </table>
    </div>
    <form method="post" action="{% url 'plates_in_stock' order.id %}">
        {% csrf_token %}
        <p>
            <input type="submit" name="success_confirmation" value="Подтвердить окончание происводства">
            <input type="submit" name="cansel_confirmation" value="Отменить подтверждение">
        <p>
    </form>
{% endblock %}