{% extends 'base.html' %}

{% block content %}
    <h1>Переход на этап производства шаблонов</h1>

    {% if mask_name_empty %}
        <form method="post" action="{% url 'plates_in_stock' order.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div>
                <input class="chat-button" type="submit" name="success_confirmation" value="Подтвердить изменения">
                <input class="chat-button" type="submit" name="cancel_confirmation" value="Отправить на доработку">
            </div>
        </form>
    {% else %}
        <form method="post" action="{% url 'plates_in_stock' order.id %}">
            {% csrf_token %}
            <div>
                <input class="chat-button" type="submit" name="success_confirmation" value="Подтвердить изменения">
                <input class="chat-button" type="submit" name="cancel_confirmation" value="Отправить на доработку">
            </div>
        </form>
        {% if order.mask_name %}
            <p>Название маски уже указано: <strong>{{ order.mask_name }}</strong></p>
        {% endif %}
    {% endif %}
    <p>Подробная информация о заказе:</p>
        <div class="order-table-wrapper">
            <table border="1">
                <thead>
                    <tr>
                        <th>Поле</th>
                        <th>Значение</th>
                    </tr>
                </thead>
                <tbody>
                    {% for field, value in order_items %}
                        <tr>
                            <td><strong>{{ field }}</strong></td>
                            <td>
                                {% if value %}
                                    {% if value|length > 20 and value|slice:":6" == "/media" %}
                                        <a class="function-button" href="{{ value }}" download target="_blank">Скачать</a>
                                    {% else %}
                                        {{ value }}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}
