{% extends 'base.html' %}

{% block content %}
    <h1>Подтверждение окончания отгрузки заказа</h1>
    <h2>При подтверждении окончания отгрузки, заказ будет закрыт</h2>
    <p class='bb'>Подробная информация о заказе:</p>
    <div class="order-table-wrapper">
        <table border="1" class="order-table">
            {% for key, value in order.items %}
                <tr>
                    <th>{{ key }}</th>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <form method="post" action="{% url 'shipping_is_confirm' order.id %}">
        {% csrf_token %}
        <p>
            <input type="submit" name="success_shipping" value="Подтвердить окончание отгрузки">
            <input type="submit" name="cansel_shipping" value="Отменить подтверждение">
        <p>
    </form>
{% endblock %}