{% extends 'base.html' %}

{% block content %}
    <h1>Подтверждение оплаты куратором</h1>
    <form method="post" action="{% url 'view_is_paid' order.id %}" enctype="multipart/form-data" id="orderForm" data-url="{% url 'load_data' %}">
        {{ form.as_p }}
        {% csrf_token %}
        <p>
            <input class="chat-button" type="submit" name="paid_confirmation" value="Подтвердить изменения">
            <input class="chat-button" type="submit" name="paid_cansel" value="Отправить на доработку">
        <p>
    </form>
    <p>Подробная информация о заказе:</p>
        <div class="order-table-wrapper">
            <table border="1">
                <thead>
                    <tr>
                        <th>Поле</th>
                        <th>Значение</th>
                    </tr>
                </thead>
                <tbody>
                    {% for field, value in order_items %}
                        <tr>
                            <td><strong>{{ field }}</strong></td>
                            <td>
                                {% if value %}
                                    {% if value|length > 20 and value|slice:":6" == "/media" %}
                                        <a class="function-button" href="{{ value }}" download target="_blank">Скачать</a>
                                    {% else %}
                                        {{ value }}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}