{% extends "base.html" %}

{% block title %}Просмотр заказа{% endblock %}

{% block content %}
        <h1>Загрузить DGS файл</h1>
        <form method="post" enctype="multipart/form-data" id="orderForm" data-url="{% url 'load_data' %}">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Сохранить изменения"></p>
        </form>
        <p>Подробная информация о заказе:</p>
        <div class="order-table-wrapper">
            <table border="1" class="order-table">
                {% for key, value in order.items %}
                    <tr>
                        <th>{{ key }}</th>
                        <td>{{ value }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
{% endblock %}