{% extends "base.html" %}

{% block title %}Редактировать профиль{% endblock %}

{% block content %}
    <h1>Редактирование заказа</h1>
    <p>Заполните форму и прикрепите документы</p>
    <form method="post" enctype="multipart/form-data" id="orderForm" data-url="{% url 'load_data' %}">
        <p>Номер заказа {{order.order_number}}</p>
        <p>Creator {{ request.user.first_name|default:request.user.username }}</p>
        {{ order_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Сохранить"></p>
    </form>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        function toggleMultiplanFileField() {
            const choiceField = $("#id_multiplan_dicing_plan");
            const fileField = $("#id_multiplan_dicing_plan_file").closest("p");
            if (choiceField.prop("checked")) {
                fileField.show();
            } else {
                fileField.hide();
            }
        }

        toggleMultiplanFileField();

        $("#id_multiplan_dicing_plan").change(function () {
            toggleMultiplanFileField();
        });

        function loadSubstrates() {
            const substrate_type = $("#id_substrate_type").val();
            const url = $("#orderForm").attr("data-url");

            $.ajax({
                url: url,
                data: {
                    'substrate_type': substrate_type
                },
                success: function (data) {
                    $("#id_selected_thickness").html('<option value="">---------</option>');
                    $("#id_selected_diameter").html('<option value="">---------</option>');

                    data.thicknesses.forEach(function (thickness) {
                        $("#id_selected_thickness").append(
                            '<option value="' + thickness.id + '">' + thickness.value + '</option>'
                        );
                    });

                    data.diameters.forEach(function (diameter) {
                        $("#id_selected_diameter").append(
                            '<option value="' + diameter.id + '">' + diameter.value + '</option>'
                        );
                    });

                    // Восстановление сохранённых значений
                    const savedThickness = localStorage.getItem('thickness');
                    const savedDiameter = localStorage.getItem('diameter');

                    if (savedThickness) {
                        $("#id_selected_thickness").val(savedThickness);
                    }

                    if (savedDiameter) {
                        $("#id_selected_diameter").val(savedDiameter);
                    }
                },
                error: function () {
                    $("#id_selected_thickness").html('<option value="">---------</option>');
                    $("#id_selected_diameter").html('<option value="">---------</option>');
                }
            });
        }

        $("#id_substrate_type").change(function () {
            loadSubstrates();
        });

        if ($("#id_substrate_type").val()) {
            loadSubstrates();
        }

        if (localStorage.getItem('substrate_type')) {
            const substrate_type = localStorage.getItem('substrate_type');
            $("#id_substrate_type").val(substrate_type).trigger("change");
        }

        $("#id_substrate_type").change(function () {
            localStorage.setItem('substrate_type', $(this).val());
        });

        $("#id_selected_thickness").change(function () {
            const thickness = $(this).val();
            localStorage.setItem('thickness', thickness);
        });

        $("#id_selected_diameter").change(function () {
            const diameter = $(this).val();
            localStorage.setItem('diameter', diameter);
        });
    });
</script>
{% endblock %}