{% extends "base.html" %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}

<h1>Личный кабинет заказчика</h1>
<h2>Компания {{ data.profile.company }}</h2>

<div class="header_content">
</div>
<br>
<div class="block_search">
    <form method="get" action="{% url 'generic_search_clients' %}">
        <input type="text" name="q" class="input_text" placeholder="Поиск по любым параметрам заказа" value="{{ request.GET.q }}">
        <button class="search-button" type="submit">Поиск</button>
    </form>
</div>
<div class="order-table-wrapper">
    <table border="1" class="order-table">
        <tr>
            <th>Номер заказа</th>
            <th>Статус заказа</th>
            <th>Код площадки</th>
            <th>Тип заказа</th>
            <th>Дата формирования заявки</th>
            <th>Срок выполнения по договору</th>
            <th>Договор</th>
            <th>Счет</th>
            <th>GDS</th>
            <th>Дата оплаты</th> 
            <th>Действия</th>
        </tr>
        {% if not data.orders %}
            <tr>
                <td colspan="11" style="text-align: center;">Заказов не найдено</td>
            </tr>
        {% else %}
            {% for order in data.orders %}
                <tr class="order-row">
                    <td>{{ order.order_number }}</td>
                    <td>{{ order.get_order_status_display }}</td>
                    <td>{{ order.platform_code.platform_code }}</td>
                    <td>{{ order.get_order_type_display }}</td>
                    <td>{{ order.order_date.date|date:"d.m.Y" }}</td>
                    <td>{{ order.deadline_date.date|date:"d.m.Y" }}</td>

                    <td>
                        {% if order.contract_file %}
                            <a href="{{ order.contract_file.url }}" download>Скачать</a>
                        {% else %}
                            <span>Отсутствует</span>
                        {% endif %}
                    </td>

                    <td>
                        {% if order.invoice_file %}
                            <a href="{{ order.invoice_file.url }}" download>Скачать</a>
                        {% else %}
                            <span>Отсутствует</span>
                        {% endif %}
                    </td>

                    <td>
                        {% if order.order_status == "OGDS" %}
                            <a href="{% url 'add_gds' order.id %}">Загрузить GDS файл</a>
                        {% else %}
                            {% if order.GDS_file %}
                                <a href="{{ order.GDS_file.url }}" download>Скачать</a>
                            {% else %}
                                <span>GDS не загружен</span>
                            {% endif %}
                        {% endif %}
                    </td>

                    <td>
                        {% if order.order_status == "PO" %}
                            <a href="{% url 'is_paid' order.id %}">Оплатить</a>    
                        {% else %}
                            {% if order.is_paid == False %}
                                <span>Оплата недоступна</span>
                            {% else %}
                                <span>{{order.order_date.date|date:"d.m.Y" }}</span>
                            {% endif %}
                        {% endif %}
                    </td>

                    <td>
                        {% if order.order_status == "NFW" %}
                            <a href="{% url 'changes_in_order' order.id %}" class="button chat-button">Внести изменения в заказ</a>
                        {% elif order.order_status == "OA" or order.order_status == "SA" %}
                            <a href="{% url 'signing_agreement' order.id %}" class="button chat-button">Подтвердить подписание договора</a>
                        {% elif order.order_status == "CR" %}
                            <a href="{% url 'confirmation_receipt' order.id %}" class="button chat-button">Подтвердить получение пластин</a>
                        {% endif %}
                        <a href="{% url 'create_or_open_chat' order.id %}" class="button chat-button">
                            Перейти в чат
                        </a>
                        <a href="{% url 'download_excel_from_order_id' order.id %}" class="button chat-button">
                            Скачать Excel файл
                        </a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
</div>

<br/>
<div>
    <a href="{% url "new_order" %}" class="button">Новый заказ</a>
</div>

{% endblock %}
