{% extends "base.html" %}

{% block title %}Редактировать профиль{% endblock %}

{% block content %}
    <h1>Создать новый заказ</h1>
    <p>Заполните форму и прикрепите документы</p>
    <form method="post" enctype="multipart/form-data" id="orderForm" data-url="{% url 'load_data' %}">
        <p>Номер заказа: {{order_number}}</p>
        <p>Наименование предприятия заказчика: {{profile}}</p>
        <p>Код заказчика: {{ request.user.id }}</p>
        {{ order_form.as_p }}
        {% if order_form.instance.multiplan_dicing_plan_file %}
        <p>Загруженный файл:
            <a href="{{ order_form.instance.multiplan_dicing_plan_file.url }}" target="_blank">
                {{ order_form.instance.multiplan_dicing_plan_file.name }}
            </a>
        </p>
    {% endif %}
        {% csrf_token %}
        <p><input type="submit" value="Сохранить"></p>
    </form>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $(document).ready(function () {
            function toggleMultiplanFileField() {
                const choiceField = $("#id_multiplan_dicing_plan");
                const fileField = $("#id_multiplan_dicing_plan_file").closest("p");
                if (choiceField.prop("checked")) {
                    fileField.show();
                } else {
                    fileField.hide();
                }
            }
        
            toggleMultiplanFileField();

            $("#id_multiplan_dicing_plan").change(function () {
                toggleMultiplanFileField();
            });
        
            function loadSubstrates() {
                const thikness_type = $("#id_thikness_type").val();
                const url = $("#orderForm").attr("data-url");
        
                $.ajax({
                    url: url,
                    data: {
                        'thikness_type': thikness_type
                    },
                    success: function (data) {
                        $("#id_substrate").html('<option value="">---------</option>');
                        $("#id_diameter").html('<option value="">---------</option>');
                        data.forEach(function (substrate) {
        
                            const substrateId = parseInt(substrate.id, 10);
                            const thikness = parseInt(substrate.thikness, 10);
                            const diameter = parseInt(substrate.diameter, 10);
        
                            if (!isNaN(substrateId) && !isNaN(thikness)) {
                                $("#id_substrate").append('<option value="' + substrateId + '">' + thikness + '</option>');
                            }
        
                            if (!isNaN(diameter)) {
                                $("#id_diameter").append('<option value="' + diameter + '">' + diameter + '</option>');
                            }
                        });
                    },
                    error: function () {
                        $("#id_substrate").html('<option value="">---------</option>');
                        $("#id_diameter").html('<option value="">---------</option>');
                    }
                });
            }
        
            $("#id_thikness_type").change(function () {
                loadSubstrates();
            });
        
            if (localStorage.getItem('thikness_type')) {
                const thikness_type = localStorage.getItem('thikness_type');
                $("#id_thikness_type").val(thikness_type).trigger("change");
            }
        
            $("#id_thikness_type").change(function () {
                localStorage.setItem('thikness_type', $(this).val());
            });
        
            $("#id_substrate").change(function () {
                localStorage.setItem('thikness', $(this).val());
            });
        
            $("#id_diameter").change(function () {
                localStorage.setItem('diameter', $(this).val());
            });
        });
    </script>
{% endblock %}
