{% extends "base.html" %}
{% load custom_filters %}

{% block title %}Личный кабинет клиента{% endblock %}

{% block content %}
<h1>Комплексный инструмент проектирования</h1>
<br>
<h2 class="text-red">Временно недоступно</h2>
<h2 class="text-red">Ожидаемая дата появления - 14 июля</h2>
<form method="GET" action="">
    <div>
        <label for="technical_process">Название техпроцесса:</label>
        <select id="technical_process" name="technical_process" onchange="this.form.submit()">
            <option value="">Выберите техпроцесс</option>
            {% for process in techprocess %}
                <option value="{{ process.name_process }}" {% if selected_process and selected_process.name_process == process.name_process %}selected{% endif %}>
                    {{ process.name_process }}
                </option>
            {% endfor %}
        </select>
    </div>
    <br>
</form>

{% if selected_process %}
    {% if selected_process.PDK_file %}
        <a href="{{ selected_process.PDK_file.url }}" download class="button">
            Скачать {{ selected_process.PDK_file.name|filename }}
        </a>
    {% else %}
        <span>Файл КИП отсутствует для {{ selected_process.name_process }}</span>
    {% endif %}
{% endif %}
{% endblock %}
